// login.scss

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .login-box {
    width: 400px;
    padding: 40px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color:#77DD77;
  }
  
  .login-title {
    text-align: center;
    font-weight: bold;
    -webkit-text-fill-color:#A0522D;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
  }
  
  .login-form label {
    margin-bottom: 8px;
  }
  
  .login-form input {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .login-form button {
    padding: 10px 20px;
    background-color:#A0522D;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
  }
  
  .login-form button:hover {
    background-color:#E6B8A3;
  }
  
  .signup-link {
    text-align: center;
    margin-top: 20px;
  }
  
  .signup-link a {
    color:#A0522D;
    text-decoration: none;
  }
  
  .signup-link a:hover {
    text-decoration: underline;
  }
  